<h1>Names <%= "(#{@names.count})" unless @names.count.is_a?(Hash) %></h1>

<%= form_tag("/national_names", method: "get") do %>
  <%= label_tag(:q, "Name:") %>
  <%= text_field_tag(:Name, params[:Name]) %>
  <%= label_tag(:q, "Starts with:") %>
  <%= text_field_tag(:starts_with, params[:starts_with]) %>
  <%= number_field(:national_names, :Year, in: 1890..2014, step: 1, value: params.dig(:national_names, :Year)) %>
  <%= radio_button_tag(:Gender, "M", params[:Gender] == 'M') %>
  <%= label_tag(:Gender, "M") %>
  <%= radio_button_tag(:Gender, "F", params[:Gender] == 'F') %>
  <%= label_tag(:Gender, "F") %>
  <%= submit_tag("Search") %>
<% end %>
<%= will_paginate @names %>
<div><%= link_to 'Group by name', :group_by_name => true %></div>
<table>
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th>Gender</th>
    <th>Count</th>
  </tr>
<% @names.each do |name| %>
  <tr>
    <td><%= link_to name.Name, national_name_path(name.Name, :Gender => name.Gender) %></td>
    <td><%= name.Year %></td>
    <td><%= name.Gender %></td>
    <td><%= name.Count %></td>
  </tr>
<% end %>
</table>
